@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Lato&family=Playfair+Display&family=Roboto+Condensed:ital,wght@1,300&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(38, 101, 190);
    display: flex;
    justify-content: center;
    font-family: Kanit,sans-serif;
}

canvas {
    margin-top: 25px;
    z-index: 10;
}

.game-over-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 500px;
    height: 700px;
    background-color: rgb(56, 56, 56);
    margin-top: -4px;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

button {
    cursor: pointer;
    color: 0, 0, 0;
    background-color: rgb(195, 195, 195);
    border: none;
    height: 50px;
    width: 200px;
    border-radius: 5px;
    font-size: 20px;
    font-family: Kanit, sans-serif;
}

button:hover {
    filter: brightness(80%);
}

button:active {
    transform: scale(0.95);
}

button:focus {
    outline: none;
}

/* Monitor and Large */
@media screen and(max-width:500px) {
    canvas {
        width: 100%;
        height: 700px;
        margin-top: 50px;
    }

    .game-over-container {
        width: 100%;
        height: 700px;
    }
}